#container{
  margin: auto;
}
#list .row:hover{
  background-color: #AEB6BF;
  color: white;
  font-size: 16px
}

#list .row{

}

#priceAlert, #foodAlert{
  color: red;
}
#input {
  vertical-align: middle;
}